a:hover {
	color: #3072C4;
}

a {
	text-decoration: none;
}

ul.nav {
	border: 4px double black;
	width: 420px;
	margin: 10px;
	padding: 20px;
}

ul.nav li {
	display: inline;
	margin-right: 3px;
	margin-left: 3px;
	padding: 3px;
}

li:not(:first-child)::before {
	margin-right: 5px;
	content: '\2666';
}