input[type='radio'] {
  opacity: 0;
  margin-right: 10px;
}

input[type='radio'] + label::before {
  content: '';
  position: absolute;
  left: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #D3D3D3;
  border-radius: 50%;
  background: #FFF;
}

input[type='radio'] + label::after {
  content:'';
  position: absolute;
  left: 15px;
  width: 7px;
  height: 7px;   
  border-radius: 50%;
  background: rgb(0, 0, 0);
  opacity: 0;
  margin-top: 5px;
}

input[type='radio']:checked + label::after {
  opacity: 1;
}
input[type='radio']:disabled + label{
  opacity:0.5;
}
input[type='radio']:focus + label::before{
  border: 1px solid blue;
}

input[name='radio-group-1']:hover + label::before{
  background-color: #D3D3D3;
  opacity: 1;
}

input[type='radio']:active + label::after{
  opacity: 1;
}
